<% @title = "Real Estate" %>
<div class="jumbotron topgradient container-fluid home-callout text-center">
	<div class="row">
	  <div class="col-xs-5"><div align="right"><img src="Logo.jpg" class="img-circle" alt="Real Estate" width="175" height="125"></div></div>
	  <div class="col-xs-7"><div align="left"><h1>Real Estate</h1><p  style="padding: 0 20px">Let's just win it and go home.</p></div></div>
	</div>  
	</br>
	</br>
	</br>
	</br>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2"">
			<div align="center">
			  <div class="dark-panel">
					<div class="dark-panel-top"></div>
					  <div class="dark-panel-center">
					  	 <div class="row">
							  <div class="col-xs-10 col-xs-offset-2"">
							    <div class="input-group">
							      <div class="input-group-btn">
							        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buy <span class="caret"></span></button>
							        <ul class="dropdown-menu">
							          <li><a href="#">Buy</a></li>
							          <li><a href="#">Rent</a></li>
							          <li><a href="#">Share</a></li>
							          <li><a href="#">Retire</a></li>
							          <li role="separator" class="divider"></li>
							          <li><a href="#">Shold</a></li>
							        </ul>
							      </div><!-- /btn-group -->
							      <input type="text" class="form-control" aria-label="...">
							    </div>
							  </div>		  
							</div>
					  </div>		    
				  <div class="dark-panel-bottom"></div>
				 </div>    
			</div>   
		</div>
	</div>		
 </div>