<div class="jumbotron topgradient container-fluid home-callout text-center">
  <h1>Lets Shop</h1>
  <p>A membership site where consumer can meet entrepreneurs.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>